
.dashboard {
  display: flex;

  &__menu {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 80vh;
    align-items: center;
    background-color: #F0DA41;
    justify-content: space-evenly;
    margin-bottom: -10%;

    img {
      width: 80px;
    }

    a {
      font-family: "Poppins", sans-serif;
      text-decoration: none;
      color: black;
    }

    button {
      padding: 15px 30px;
      font-family: "Poppins", sans-serif;
      background-color: #ef4428;
      color: #fff;
      border: none;
      border-radius: 30px;
      border-bottom: 4px solid rgb(165, 56, 39);
    }

  }

  &__table {
    display: flex;
    width: 85%;
    height: 80vh;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: -20%;
  }
}

table {
  width: 80%;
  height: 30%;
  font-family: "Poppins", sans-serif;
  text-align: center;
}


#table__head {
  border-bottom: 2px solid #0f0f0f;
}