$font:'Poppins', sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 5vw;
  
  

  &__logo {
    img {
      width: 150px;
    }
  }
  &__links {
    display: flex;
    gap: 20px;
    
    a {
      color: #ef4428ff;
      font-family: $font;
      font-weight: 600;
      text-decoration: none;
    }
    a:hover {
      color: #939fc1;
    }
  }
}

.banner {
  display: flex;
  height: 90vh;
  width: 100%;
  
  &__cake {
    width: 50%;
    height: 100%;
    background-image: url("./img/cakeorange.png");
    background-size: cover;
    background-position: center;
  }

  &__title {
    background-color: #B0BDE0;
    width: 50%;
  }
}

.special {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  h2 {
    font-family: $font;
    font-size: 50px;
    margin: 30px auto;
  }

  &__buttons {
    margin-top: 5vh;
    padding-left: 5vw;

    button {
      padding: 15px 30px;
      font-family: $font;
      background-color: #ef4428ff;
      color: #fff;
      border: none;
      border-radius: 30px;
      border-bottom: 4px solid rgb(165, 56, 39);
    }
    button:focus {
      background-color: #B0BDE0;
      border-bottom: 4px solid #6c7384;
      color: black;
    }

  }
  &__banner {
    margin-top: 5vh;
    margin-left:5vw;
    height: 60vh;
    width: 90%;
    background-image: url("./img/bannernormal.png");
  }
}

.cards {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  padding: 0vh 5vw;
  gap: 30px;
  flex-wrap: wrap;
  
  &__cake {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 5vh 3vw;
    align-items: center;
    border-radius: 30px;
    box-shadow: -3px 8px 22px -10px rgba(0,0,0,0.52);
    -webkit-box-shadow: -3px 8px 22px -10px rgba(0,0,0,0.52);
    -moz-box-shadow: -3px 8px 22px -10px rgba(0,0,0,0.52);

    img {
      width: 250px;
      object-fit: cover;
    }

    h2 {
      margin-top: 3vh;
      font-family: $font;
      font-size: 18px;
      font-weight: 600;
    }
    h3 {
      font-family: $font;
      font-size: 16px;
      font-weight: 500;
    }
  }
}

footer {
  margin-top: 10%;
  background-color: #0f0f0f;
  padding: 10vh 5vw;
  color: #fff;
  font-family: $font;
}