//variables
$color-morado:#8963baff;
$color-amarillo :#faa916ff;
$color-morado-ligth:#f7eeffff;
$font:'Poppins', sans-serif;
$peso-principal:300;

:root {
  --color-primario :#{$color-morado};
  --color-secundario :#{$color-amarillo};
  --color-complementario :#{$color-morado-ligth};
  --fuente-principal: #{$font};
  --peso-principal:#{$peso-principal};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: var(--fuente-principal);
  font-weight: var(--peso-principal);
  font-size: 16px;
  max-width: 100%;
  overflow-x: hidden
}

.header {
  background-color: var(--color-primario);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 5vw; 

  &__links {
    
    a {
      color: #fff;
      font-weight: 500;
      padding: 0px 15px;
      text-decoration: none;
    }
  }
}

.banner {
  padding: 0vh 5vw;
  background-color: var(--color-primario);
  background-repeat: no-repeat;
  background-position: right;
  height: 80vh;
  display: flex;

  &__title {
    width: 40%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 45px;
      margin-bottom: 5vh;
    }
    p {
      margin-bottom: 3vh;
      font-weight: 500;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img {
      width: 85%;
      object-fit: cover;
    }
  }
  &__buttons {
    display: flex;
    gap: 30px;
  }
}

.special {
  display: flex;
  padding: 10vh 5vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;


  &__title {
    width: 25%;

    h2 {
      margin-bottom: 3vh;
    }
  }

  &__card {
    width: 250px;
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h3 {
      margin-top: 2vh;
      margin-bottom: 2vh;
    }
  
    img {
      object-fit: cover;
      width: 200px;
    }
    button {
      background-color: transparent;
      border: 2px solid var(--color-secundario);
      padding: 12px 25px;
      border-radius: 50px;
      font-weight: 600;
      color: #0f0f0f;
      font-size: 14px;
      cursor: pointer;
    }
  }
}

.primary__button {
  background-color: var(--color-secundario);
  color: #fff;
  border: none;
  padding: 18px 33px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.second__button {
  background-color: transparent;
  border: 3px solid var(--color-secundario);
  padding: 15px 30px;
  border-radius: 50px;
  font-weight: 600;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#dashboard {
  background-color: var(--color-secundario);
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

.html__title{
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.prices {
  display: flex;
  flex-wrap: wrap;
  padding: 5vh 5vw;
  justify-content: space-between;
  gap: 10px;

  &__card {
    border-radius: 30px;
    background-color: var(--color-complementario);
    width: 300px;
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;

    img {
      object-fit: cover;
      width: 250px;
    }
    p {
      text-align: center;
      padding: 20px;
    }
  }
}

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;

  &__inputs {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 10px;

    input {
      font-size: 16px;
      padding: 2vh 2vw;
      border: none;
      border-bottom: 3px solid var(--color-secundario);
    }

    select {
      padding: 2vh 2vw;
      font-size: 16px;
      border: none;
      border-bottom: 3px solid var(--color-secundario);
      background-color: #fff;
    }
    textarea {
      font-size: 16px;
      padding: 2vh 2vw;
      border: 2px solid gray;
      border-radius: 20px;
    }
  }
}

footer {
  display: flex;
  background-color: var(--color-primario);
  padding: 10vh 5vw;
  align-items: center;
  color: #fff;
  font-size: 20px;
  justify-content: space-between;
}

$Mobile: 670px;
@media (max-width: $Mobile) {
  .header  {
    flex-direction: column;
    &__links {
      flex-direction: column;
      margin-top: 5vh;
    }
  }
  .banner {
    flex-direction: column;
    height: auto;
    &__title {
      width: 100%;
      padding: 5vh 5vw;
    }
    &__image {
      justify-content: center;
    }
  }
  .special {
    flex-direction: column;
    &__title {
      width: 100%;
      padding: 0vh 5vw;
    }
  }
  .prices {
    justify-content: center;
  }
  .form__inputs {
    width: 80%;
  }
  footer {
    flex-direction: column;
    gap : 1.5vh;
  }
}