:root {
  --color-primario:#8963ba;
  --color-secundario:#faa916;
  --color-complementario:#f7eeff;
  --fuente-principal: Poppins, sans-serif;
  --peso-principal:300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: var(--fuente-principal);
  font-weight: var(--peso-principal);
  font-size: 16px;
}

.header {
  background-color: var(--color-primario);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 5vw;
}
.header__links a {
  color: #fff;
  font-weight: 500;
  padding: 0px 15px;
  text-decoration: none;
}

.banner {
  padding: 0vh 5vw;
  background-color: var(--color-primario);
  background-repeat: no-repeat;
  background-position: right;
  height: 80vh;
  display: flex;
}
.banner__title {
  width: 40%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner__title h1 {
  font-size: 45px;
  margin-bottom: 5vh;
}
.banner__title p {
  margin-bottom: 3vh;
  font-weight: 500;
}
.banner__image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.banner__image img {
  width: 85%;
  object-fit: cover;
}
.banner__buttons {
  display: flex;
  gap: 30px;
}

.special {
  display: flex;
  padding: 10vh 5vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.special__title {
  width: 25%;
}
.special__title h2 {
  margin-bottom: 3vh;
}
.special__card {
  width: 250px;
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.special__card h3 {
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.special__card img {
  object-fit: cover;
  width: 200px;
}
.special__card button {
  background-color: transparent;
  border: 2px solid var(--color-secundario);
  padding: 12px 25px;
  border-radius: 50px;
  font-weight: 600;
  color: #0f0f0f;
  font-size: 14px;
  cursor: pointer;
}

.primary__button {
  background-color: var(--color-secundario);
  color: #fff;
  border: none;
  padding: 18px 33px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.second__button {
  background-color: transparent;
  border: 3px solid var(--color-secundario);
  padding: 15px 30px;
  border-radius: 50px;
  font-weight: 600;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#dashboard {
  background-color: var(--color-secundario);
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

.html__title {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.prices {
  display: flex;
  flex-wrap: wrap;
  padding: 5vh 5vw;
  justify-content: space-between;
  gap: 10px;
}
.prices__card {
  border-radius: 30px;
  background-color: var(--color-complementario);
  width: 300px;
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
}
.prices__card img {
  object-fit: cover;
  width: 250px;
}
.prices__card p {
  text-align: center;
  padding: 20px;
}

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}
.form__inputs {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 10px;
}
.form__inputs input {
  font-size: 16px;
  padding: 2vh 2vw;
  border: none;
  border-bottom: 3px solid var(--color-secundario);
}
.form__inputs select {
  padding: 2vh 2vw;
  font-size: 16px;
  border: none;
  border-bottom: 3px solid var(--color-secundario);
  background-color: #fff;
}
.form__inputs textarea {
  font-size: 16px;
  padding: 2vh 2vw;
  border: 2px solid gray;
  border-radius: 20px;
}

footer {
  display: flex;
  background-color: var(--color-primario);
  padding: 10vh 5vw;
  align-items: center;
  color: #fff;
  font-size: 20px;
  justify-content: space-between;
}

/*# sourceMappingURL=styles.css.map */
