:root {
  --color-pricipal: #2C4CCA;
  --color-second: #1F3E72;
  --color-white:#fff;
  --blue-button:#3252D0;
  --blue-ligth:#EEF3FF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-boxs;
}

html, body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  max-width: 100%;
  overflow-x: hidden;
}

.header {
  display: flex;
  padding: 4vh 8vw;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.758);
  backdrop-filter: blur(10px);
  z-index: 1;
}
.header a {
  text-decoration: none;
}
.header__logo {
  color: var(--color-pricipal);
  font-weight: 700;
  font-size: 22px;
}
.header__links {
  display: flex;
  gap: 4vw;
  align-items: center;
  margin-right: 13vw;
}
.header__links a {
  color: rgb(109, 111, 129);
  font-weight: 600;
  font-size: 14px;
}

.primary__button {
  padding: 12px 20px;
  color: #fff;
  border: none;
  background-image: linear-gradient(to right, #3252D0 0%, #2341b9 51%, #3252D0 100%);
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 3px;
  font-weight: 600;
  font-size: 15px;
  box-shadow: 0px 10px 15px rgba(46, 77, 229, 0.183);
  cursor: pointer;
}

.second__button {
  padding: 12px 20px;
  color: var(--color-pricipal);
  background-color: var(--blue-ligth);
  border: none;
  text-align: center;
  transition: 0.5s;
  border-radius: 3px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.banner {
  display: flex;
}
.banner__title {
  width: 40%;
  padding: 8vh 8vw;
  margin-top: 15vh;
}
.banner__title h1 {
  color: #1F3E72;
  font-size: 50px;
  margin-bottom: 30px;
}
.banner__title p {
  color: rgb(109, 111, 129);
  margin-bottom: 8vh;
}
.banner__image {
  width: 60%;
  background-image: url("./asset/img/nurse1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 120vh;
  margin-right: -10vw;
}
.banner__icons {
  display: flex;
  align-items: flex-start;
}
.banner__icons span {
  color: #f2ce00;
  background-color: #fff6cb;
  padding: 3px 3px;
  margin-right: 1vw;
  box-shadow: 0px 10px 15px rgba(239, 224, 9, 0.245);
}
.banner__icons p {
  padding-top: 2px;
  margin-right: 3vw;
  color: #1F3E72;
}
.banner__schedule {
  height: 30px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5vh;
}
.banner__date {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 800px;
  background-color: rgba(255, 255, 255, 0.758);
  backdrop-filter: blur(10px);
  padding: 25px 20px;
  box-shadow: 0px 10px 15px rgba(46, 77, 229, 0.259);
}
.banner__date__info {
  display: flex;
  flex-direction: row;
}

.icon-blue {
  color: var(--color-pricipal);
  background-color: #e8ebff;
  padding: 3px;
  height: 25px;
  margin-right: 1vw;
  box-shadow: 0px 10px 15px rgba(44, 9, 239, 0.159);
}

#icon__title--normal {
  margin-bottom: 1vh;
}

#icon__title--bold {
  font-weight: bold;
  color: var(--color-second);
  margin-bottom: 1vh;
}

.brands {
  display: flex;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 0vh 8vw;
  justify-content: space-between;
  align-items: baseline;
}
.brands img {
  height: 3rem;
  width: auto;
  opacity: 15%;
  filter: grayscale(1);
}

#sinovac {
  height: 1.85rem;
  width: auto;
}

.questions {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  width: 100%;
  padding: 10vh 8vw;
}
.questions__info {
  width: 42%;
}
.questions h2 {
  color: #1F3E72;
  margin-bottom: 3vh;
  font-size: 30px;
}
.questions p {
  color: rgb(109, 111, 129);
}

.questions--blank {
  width: 58%;
}

.benefits {
  padding: 5vh 8vw;
  display: flex;
  gap: 2vw;
  flex-wrap: wrap;
  justify-content: space-between;
}
.benefits__card {
  width: 200px;
  padding: 2vh 1.5vw 8vh 1.5vw;
  border: 2px solid rgba(109, 111, 129, 0.072);
  border-radius: 10px;
}
.benefits__card span {
  color: var(--color-pricipal);
  background-color: #e8ebff;
  padding: 8px;
  height: 25px;
  margin-bottom: 3vh;
  border-radius: 5px;
}
.benefits__card h3 {
  color: #1F3E72;
  font-weight: 500;
  margin-bottom: 2vh;
}
.benefits__card p {
  color: rgb(109, 111, 129);
}
.benefits__card:hover {
  box-shadow: 0px 10px 15px rgba(44, 9, 239, 0.159);
}

.questions2 {
  display: flex;
  box-sizing: border-box;
  flex-direction: row-reverse;
  width: 100%;
  padding: 10vh 8vw;
}
.questions2__info {
  width: 42%;
}
.questions2 h2 {
  color: #1F3E72;
  margin-bottom: 3vh;
  font-size: 30px;
}
.questions2 p {
  color: rgb(109, 111, 129);
}

.preparation {
  display: flex;
  height: 80vh;
  gap: 14%;
}
.preparation__image {
  background-image: url("./asset/img/person-mask.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 45%;
  margin-top: -10%;
}
.preparation__content {
  display: flex;
  flex-direction: column;
}
.preparation__content__section {
  display: flex;
  margin-bottom: 10vh;
}
.preparation__content__section p {
  color: var(--color-second);
}

.icon-arrow {
  color: var(--color-pricipal);
  background-color: #e8ebff;
  padding: 2px;
  height: 15px;
  margin-right: 1vw;
  font-size: 15px;
  box-shadow: 0px 10px 15px rgba(44, 9, 239, 0.159);
  position: absolute;
  right: 8vw;
  z-index: 0;
}

.contact {
  display: flex;
  height: auto;
  margin-bottom: 30vh;
}
.contact__image {
  background-image: url("./asset/img/nurse2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 50%;
  margin-top: -10%;
}
.contact__links {
  height: auto;
  width: 50%;
  padding: 5vh 10vw;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
.contact__links__card {
  padding: 5vh 2vw;
  border-radius: 10px;
  width: 150px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(109, 111, 129, 0.072);
}
.contact__links__card button:hover {
  padding: 12px 20px;
  color: #fff;
  border: none;
  background-image: linear-gradient(to right, #3252D0 0%, #2341b9 51%, #3252D0 100%);
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 3px;
  font-weight: 600;
  font-size: 15px;
  box-shadow: 0px 10px 15px rgba(46, 77, 229, 0.183);
  cursor: pointer;
}
.contact__links__card__info {
  display: flex;
  margin-bottom: 3vh;
}
.contact__links__card__info h3 {
  color: #1F3E72;
  font-weight: 500;
}
.contact__links__card__info p {
  font-size: 12px;
  color: rgb(109, 111, 129);
}

.footer {
  padding: 8vh 8vw;
  background-color: var(--blue-ligth);
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  width: 600px;
}
.footer__logo h1 {
  color: var(--color-pricipal);
}
.footer__logo p {
  width: 200px;
  color: rgb(109, 111, 129);
}
.footer__links h3 {
  color: var(--color-second);
}
.footer__links a {
  text-decoration: none;
}
.footer__links li {
  color: rgb(109, 111, 129);
  list-style: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

.copyrigth {
  background-color: var(--blue-ligth);
  padding: 3vh 8vw;
  display: flex;
  justify-content: space-between;
}
.copyrigth p {
  color: rgb(109, 111, 129);
}
.copyrigth__links {
  display: flex;
  gap: 30px;
}
.copyrigth__links a {
  text-decoration: none;
  color: rgb(109, 111, 129);
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    position: relative;
    width: auto;
  }
  .header__links {
    margin-right: 0vw;
  }
  .banner {
    flex-direction: column;
    align-items: center;
  }
  .banner__title {
    width: 80%;
    margin-top: 0vh;
  }
  .banner__date {
    position: none;
    width: 80%;
  }
  .banner__image {
    height: 80vh;
  }
  .brands {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .benefits {
    padding: 5vh 10vw;
  }
  .questions--blank {
    display: none;
  }
  .questions {
    justify-content: center;
    margin-bottom: 5vh;
  }
  .questions__info {
    width: 80%;
  }
  .questions2 {
    margin-bottom: 10vh;
    justify-content: center;
  }
  .questions2__info {
    width: 80%;
  }
  .preparation__image {
    display: none;
  }
  .preparation__content {
    padding-left: 10vw;
  }
  .contact {
    flex-direction: column-reverse;
    justify-content: center;
    margin-bottom: 20vh;
  }
  .contact__image {
    height: 100vh;
    width: 100%;
  }
  .contact__links {
    width: 80%;
    justify-content: center;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__logo p {
    width: 80%;
    padding: 5vh 10vw;
    text-align: center;
  }
  .footer__links {
    display: flex;
    flex-direction: column;
  }
  .footer__links h3 {
    margin-top: 10px;
  }
}
@media (max-width: 450px) {
  .header__links {
    flex-direction: column;
  }
  .banner__date {
    width: 70%;
    flex-direction: column;
  }
  .banner__image {
    visibility: hidden;
    height: 42vh;
  }
  .benefits {
    justify-content: center;
  }
  .footer__logo p {
    width: 50%;
  }
  .copyrigth {
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
