$principal-color:#2C4CCA;
$second-color:#1F3E72;
$color-white:#fff;
$blue-button:#3252D0;
$blue-ligth:#EEF3FF;

:root {
  --color-pricipal: #{$principal-color};
  --color-second: #{$second-color};
  --color-white:#{$color-white};
  --blue-button:#{$blue-button};
  --blue-ligth:#{$blue-ligth};
}

// web config
* {
  padding: 0;
  margin: 0;
  box-sizing: border-boxs;
}

html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.header {
  display: flex;
  padding: 4vh 8vw;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
  }

  &__logo {
    color: var(--color-pricipal);
    font-weight: 700;
    font-size: 22px;
  }

  &__links {
    display: flex;
    gap: 4vw;
    align-items: center;

    a {
      color: rgb(109, 111, 129);
      font-weight: 600;
      font-size: 14px;
    }
    
  }
}

.primary__button {
  padding: 12px 20px;
  color: #fff;
  border: none;
  background-image: linear-gradient(to right, #3252D0 0%, #2341b9  51%, #3252D0  100%);
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;         
  border-radius: 3px;
  font-weight: 600;
  font-size: 15px;
  box-shadow: 0px 10px 15px rgba(46, 77, 229, 0.183);
  }

.banner {
  display: flex;
  
  &__title {
    width: 40%;
    padding: 8vh 8vw;

    h1 {
      color: #1F3E72;
      font-size: 50px;
      margin-bottom: 30px;
    }

    p {
      color: rgb(109, 111, 129);
      margin-bottom: 8vh;
    }
  }
  &__image {
    width: 60%;
    background-image: url("./asset/img/nurse1.jpg");
    background-size: contain;
    height: 105vh;
  }
  &__icons {
    display: flex;
    align-items: flex-start;
    
    span {
      color: #f2ce00;
      background-color: #fff6cb;
      padding: 3px 3px;
      margin-right: 1vw;
      box-shadow: 0px 10px 15px rgba(239, 224, 9, 0.245)
    }

    p {
      padding-top: 2px;
      margin-right: 3vw;
      color: #1F3E72;
    }
  }
  &__schedule {
    height: 30px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5vh;
  }
  &__date {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 800px;
    background-color:rgba(255, 255, 255, 0.758);
    backdrop-filter: blur(10px);
    padding: 25px 20px;
    box-shadow: 0px 10px 15px rgba(46, 77, 229, 0.625);

    &__info {
      display: flex;
      flex-direction: row;
    }
  }
}

.icon-blue {
  color: var(--color-pricipal);
  background-color: #e8ebff;
  padding: 3px;
  height: 25px;
  margin-right: 1vw;
  box-shadow: 0px 10px 15px rgba(44, 9, 239, 0.159)
}

#icon__title--normal {
  margin-bottom: 1vh;
}
#icon__title--bold {
  font-weight: bold;
  color: var(--color-second);
  margin-bottom: 1vh;
}

.brands {
  display: flex;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 0vh 8vw;
  justify-content: space-between;
  align-items: baseline;
  img {
    height: 3rem;
    width: auto;
    opacity: 15%;
    filter: grayscale(1);
  }
}
#sinovac {
  height: 1.85rem;
  width: auto;
}
