body  {
  display: flex;
}
.column {
  background-color: var(--color-primario);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 14%;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 0vw;

  img {
    object-fit: cover;
    width: 135px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    a {
      color: #fff;
      font-weight: 500;
      text-decoration: none;
      padding-bottom: 2vh;
      font-size: 14px;
    }
  }
}

.data {
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  width: 100%;
  
  &__resumen {
    display: flex;
    justify-content: space-between;

    &__card {
      background-color: var(--color-complementario);
      padding: 20px 20px;
      border-radius: 15px;
      h2 {
        color: black;
      }
    }
  }
  &__movements {
    margin-top: 10vh;
  }
}

$Mobile: 670px;
@media (max-width: $Mobile) {
  body {
    flex-direction: column;
  }
  .column {
    flex-direction: column;
    width: 100%;
    height: auto;
    img {
      width: 80%;
      margin-bottom: 2vh;
    }
  }
  .data__resumen {
    flex-direction: column;
    gap: 5vh;
  }
  
  table {
    display: block;
    overflow-x: auto;
  }
}